<p>
  add-by-address works!
</p>
<form class="" action="index.html" method="post">
  <div>
    <label>Creator</label>
    <input #newCreator2>
  </div>
  <div>
    <label>Street Address</label>
    <input #newStreetAddress>
    <label>City</label>
    <input #newCity>
    <label>State</label>
    <input #newState>
  </div>
</form>
<button (click)="submitAddress(newCreator2.value, newStreetAddress.value, newCity.value, newState.value); newCreator2.value=''; newStreetAddress.value=''; newState.value=''">Add Cache</button>
